<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	default-autowire="byName" >
	
	<bean id="environment" class="com.voson.dataant.util.Environment" >
		<constructor-arg index="0">
			<value>test-dev</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>test-dev</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>/dataant/</value>
		</constructor-arg>
	</bean>
	
	
	<!--通知bean-->
	<bean id="mailAlarm" class="com.voson.dataant.broadcast.alarm.MailAlarm" />
	<bean id="smsAlarm" class="com.voson.dataant.broadcast.alarm.SMSAlarm" />
	
	<bean id="clientWorker" class="com.voson.dataant.socket.worker.ClientWorker" >
	</bean>

	<!--  bean
	
	<bean id="scheduleGroupManager" class="com.voson.dataant.web.ScheduleGroupManager" >
		<property name="groupManager" ref="groupManager"></property>
	</bean>
	<bean id="profileManager" class="com.voson.dataant.store.mysql.MysqlProfileManager" />
	<bean id="debugHistoryManager" class="com.voson.dataant.store.mysql.MysqlDebugHistoRymanager" />
	<Bean Id="Filemanager" Class="Com.Voson.Dataant.Store.Mysql.Mysqlfilemanager" />
	<Bean Id="Followmanager" Class="Com.Voson.Dataant.Store.Mysql.Mysqlfollowmanager" />
	<Bean Id="Usermanager" Class="Com.Voson.Dataant.Store.Mysql.Mysqlusermanager" />
	<bean id="taBlemanager" Class="Com.Voson.Dataant.Store.Clitablemanager" />
	<Bean Id="Reportmanager" Class="Com.Voson.Dataant.Store.Mysql.Mysqlreportmanager" />
	<Bean Id="Readonlygroupmanager" Class="Com.Voson.Dataant.Store.Mysql.Readonlygroupmanager" >
		<Property Name="Groupmanager" Ref="Groupmanager" />
	</Bean>
	<bean id="permissionScheduleGroupManager" class="com.voson.dataant.web.PermissionGroupManager" >
		<property name="groupManager" ref="scheduleGroupManager"></property>
	</bean>
	<bean id="permissionManager" class="com.voson.dataant.store.mysql.MysqlPermissionManager" />
	<bean id="jobValidate" class="com.voson.dataant.store.mysql.tool.JobValidate"></bean>
	 -->
	<!-- Manager -->
	<bean id="jobHistoryManager" class="com.voson.dataant.store.mysql.MysqlJobHistoryManager" />
	<bean id="groupManager" class="com.voson.dataant.store.mysql.MysqlGroupManager" />
	
	
	<bean id="distributeLocker" class="com.voson.dataant.schedule.DistributeLocker" init-method="init" >
		<constructor-arg>
			<value>9987</value>
		</constructor-arg>
	</bean>
	
</beans>